In [5]:
import numpy as np
import pandas as pd

In [6]:
data = {"price": [100, 250, 400, 550, 700, 850, 1000]}
df = pd.DataFrame(data)

In [12]:
bins=np.linspace(min(df["price"]),max(df["price"]),4)


group_names=["Low","Medium","High"]


df["price_binned"]=pd.cut(df["price"],bins,labels=group_names, include_lowest=True)


df

   price price_binned
0    100          Low
1    250          Low
2    400          Low
3    550       Medium
4    700       Medium
5    850         High
6   1000         High